:root{
    --header-main-color-dark: #000000;
    --header-main-color-light: #656565;
    --pic-name-color: #ffffff;
    --pic-name-fontsize: 20px;
    --pic-fontweight: 300;
    --pic-description-color: #c4c4c4;
    --pic-description-fontsize: 16px;
    --price-color: #ffb700;
    --content-main-color: #ffffff;
}