footer
    .footer_container
        .footer_text
            .text_top
                h3.footer_text Написать нам
                p.footer_text Заполните форму справа 
                p.footer_text или отправьте письмо на <a href="mailto:shop@reproduct.io">shop@reproduct.io</a>
            .text_bottom
                p.text_btm Репродукцио, 2019
                a.popup_link(href="#popup") Правила обработки персональных данных
        .footer_form
            .form_container
                form(action="#")
                    input(id="mail" type="text" placeholder="Эл.почта")
                    textarea(id="message" maxlength="400" name="message" placeholder="Место для изливания души(никто не узнает, что Вы здесь напишете)")
                    input(id="form_btn" type="button", onclick="formAct" value="Отправить сообщение")
            .after_form
                h6 Отправлено
                p Мы ответим вам на почту<br /> в течение нескольких рабочих дней.
#popup.mfp-hide
    h6.popup_header Правила обработки персональных данных
    p.popup_text Предоставляя свои персональные данные Пользователь даёт согласие на&nbsp;обработку, хранение и&nbsp;использование своих персональных данных на&nbsp;основании ФЗ &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo;<br /> от&nbsp;27.07.2006&nbsp;г.&nbsp;в&nbsp;следующих целях:
    p.popup_spec Осуществление клиентской поддержки; <br /> Получения Пользователем информации о&nbsp;маркетинговых событиях; <br /> Проведение аудита и&nbsp;внутренних исследований с&nbsp;целью<br />повышения качества предоставляемых услуг
    p.popup_text Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользвателя, такая как;
    p.popup_spec Фамилия, имя и&nbsp;отчество
    p.popup_text Персональные данные Пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства.
    p.popup_text Компания обязуется не&nbsp;передавать полученные персональные данные третьим лицам, за&nbsp;исключением следуюзих случаев:
    p.popup_text По&nbsp;запросам уполномоченных орагнов госудраственной власти&nbsp;РФ только по&nbsp;основаниям и&nbsp;в&nbsp;поряке, установленным законодательством&nbsp;РФ
    p.popup_text Компания оставляет за&nbsp;собой право вносить изменения в&nbsp;одностороннем порядке в&nbsp;настоящие правила, при условии, что изменения не&nbsp;противоречат действующему закоодательсву РФ. Изменения условий настоящих правил вступают в&nbsp;силу после их&nbsp;публикации на&nbsp;Сайте.

    p.pofig А&nbsp;ещё мы&nbsp;можем взять кредит на&nbsp;ладу гранту

