<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Reproduccio market
        link(rel="stylesheet", href="styles/main.css")
    body
        header
            .text_section
                h1 Репро<br />дукцио
                p.header_desc Оффлайн-магазин репродукций шедевров мирового искусства
                p.header_addr Санкт петербург <br /> ул. Адмирала Черокова, 18
                a.header_tel(href="tel:+78129602201") +7 812 960-22-01<br />
                a.header_contact(href="mailto:shop@reprodict.io") shop@reprodict.io 
            .pic_section
                .slider_main
                    .main_slide
                        img(src="assets/img/the_death_of_socrates.webp", alt="the_death_of_socrates") 
                        span 
                            h6.pic_name Смерть сократа, 1787
                            p.pic_size 130 Х 196 см, холст
                            p.author_name Жак Луи Давид
                            p.pic_price 5000 &#8381
                    .main_slide
                        img(src="assets/img/the_birth_of_venus.webp", alt="the_birth_of_venus") 
                        span 
                            h6.pic_name Рождение Венеры, 1636
                            p.pic_size 97 х 108 см, холст
                            p.author_name Никола Пуссен
                            p.pic_price 2400 &#8381
                    .main_slide
                        img(src="assets/img/six_winged_seraph.webp", alt="six_winged_seraph")
                        span 
                            h6.pic_name Шестикрылый Серафим, 1904
                            p.pic_size 131x155 см, холст
                            p.author_name Михаил Врубель
                            p.pic_price 4100 &#8381
                .slider_small
                    .small_main_slide
                        img(src="assets/img/the_death_of_socrates.webp", alt="the_death_of_socrates")
                    .small_main_slide
                        img(src="assets/img/the_birth_of_venus.webp", alt="the_birth_of_venus")
                    .small_main_slide
                        img(src="assets/img/six_winged_seraph.webp", alt="six_winged_seraph")