<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/second.css")
        link(rel="stylesheet", href="styles/slick.css")
        title Document
    body

        .slider_slick
            .slider_slick_item
                img(src="../assets/img/girl_with_a_pearl_earring.jpg", alt="girl_with_a_pearl_earring")
            .slider_slick_Item
                img(src="../assets/img/napoleon-at_saint_bernard.jpg", alt="napoleon-at_saint_bernard")
            .slider_slick_item
                img(src="../assets/img/six_winged_seraph.jpg", alt="six_winged_seraph")
            .slider_slick_item
                img(src="../assets/img/the_birth_of_venus.jpg", alt="the_birth_of_venus")
            .slider_slick_item
                img(src="../assets/img/the_death_of_socrates.jpg", alt="the_death_of_socrates")
        .slider_big
            .slider_big_item
                img(src="../assets/img/girl_with_a_pearl_earring.jpg", alt="girl_with_a_pearl_earring")
            .slider_big_item
                img(src="../assets/img/napoleon-at_saint_bernard.jpg", alt="napoleon-at_saint_bernard")
            .slider_big_item
                img(src="../assets/img/six_winged_seraph.jpg", alt="six_winged_seraph")
            .slider_big_item
                img(src="../assets/img/the_birth_of_venus.jpg", alt="the_birth_of_venus")
            .slider_big_item
                img(src="../assets/img/the_death_of_socrates.jpg", alt="the_death_of_socrates")

        
    script(src ="scripts/jquery-3.5.1.js")
    script(src ="scripts/slick.min.js")
    script(src ="scripts/script.js")